ul.dropdownMenu {
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 0px;
  border-radius: 8px;
  background-color: var(--color-light-grey);
  color: var(--color-dark-grey);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.55s ease;
  letter-spacing: 0.07rem;
}

.dropdownMenu.visible {
  max-height: 400px;
}

.dropdownHeader {
  padding: 12px 15px 8px 15px;
  list-style-type: none;
}

.dropdownItem {
  list-style: none;
  font-size: 1rem;
  padding: 8px 18px;
  color: var(--color-dark-grey);
  background-color: inherit;
  transition: background-color 0.35s ease;
  list-style-type: none;
  text-align: center;
}

.dropdownItem:last-child {
  padding-bottom: 10px;
}

li:nth-child(1):hover {
  cursor: default;
}

li:hover {
  cursor: pointer;
}

.dropdownItem:hover,
.dropdownItem:active,
.active {
  background-color: var(--color-primary);
}

.inactive:hover,
.inactive:active {
  cursor: default;
  background-color: inherit;
}
