.dialog {
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  background-color: var(--color-dark-grey);
  color: var(--color-primary);
  padding: 1.6rem;
  width: 80%;
  max-width: 350px;
  margin: 20vh auto;
  text-align: center;
}

.dialog::backdrop {
  background-color: #2424249c;
}

.title {
  margin: 25px 0px 30px 0px;
  letter-spacing: 0.1rem;
}

.subtitle {
  color: var(--color-light-grey);
}
