.containerCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}

.logo {
    width: 45%;
    height: auto;
    margin-bottom: 15px;
}

.subtitle {
    font-style: italic;
    font-size: 0.7rem;
    padding: 15px;
}