button {
  text-align: center;
  width: 100%;
  border-radius: 4px;
  height: 40px;
  border: none;
  letter-spacing: 0.1rem;
  transition: all 0.25s ease-in;
}

.disabled {
  background-color: #a4a4a4;
}

.primarySolid {
  background-color: var(--color-light-grey);
  color: var(--color-dark-grey);
  outline: 0.2px solid var(--color-dark-grey);
  box-shadow: 2px 2px 6px var(--color-dark-grey);
}

.primarySolid:hover,
.primarySolid:active {
  letter-spacing: 0.23rem;
  color: var(--color-primary);
  background-color: var(--color-dark-grey);
  box-shadow: none;
}

.primaryOutlined {
  background-color: var(--color-light-grey);
  color: var(--color-dark-grey);
  outline: 0.2px solid var(--color-dark-grey);
  box-shadow: 2px 2px 6px var(--color-dark-grey);
}

.primaryOutlined:hover,
.primaryOutlined:active {
  letter-spacing: 0.23rem;
  outline: 1.5px solid var(--color-dark-grey);
  box-shadow: none;
}

.successSolid {
  background-color: var(--color-dark-success);
  color: var(--color-dark-grey);
}

.successSolid:hover,
.successSolid:active {
  letter-spacing: 0.2rem;
  background-color: var(--color-light-success);
}

.successOutlined {
  background-color: var(--color-dark-grey);
  outline: 2px solid var(--color-success);
  color: var(--color-success);
}

.successOutlined:hover,
.successOutlined:active {
  letter-spacing: 0.2rem;
  color: var(--color-dark-grey);
  outline: 2px solid var(--color-success);
  background-color: var(--color-success);
}

.dangerSolid {
  background-color: var(--color-danger);
  color: var(--color-dark-grey);
}

.dangerSolid:hover,
.dangerSolid:active {
  letter-spacing: 0.2rem;
  background-color: var(--color-danger);
}

.dangerOutlined {
  background-color: var(--color-dark-grey);
  outline: 2px solid var(--color-danger);
  color: var(--color-danger);
}

.dangerOutlined:hover,
.dangerOutlined:active {
  letter-spacing: 0.2rem;
  color: var(--color-dark-grey);
  outline: 2px solid var(--color-danger);
  background-color: var(--color-danger);
}

.btnLoading {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid transparent;
  border-top-color: var(--color-primary);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
