.widgetContainer {
  padding: 0px 20px;
  display: flex;
}

@media (min-width: 650px) {
  .widgetContainer {
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .widgetContainer {
    justify-content: flex-start;
  }
}
