.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.title {
  margin-top: 25px;
  letter-spacing: .10rem;
}

.links {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 12px 22px;
  width: 100%;
}

.link {
  color: var(--color-light-grey);
  text-decoration: underline;
  font-size: 1rem;
  margin-left: auto;
}