.completeShiftMenuWrapper {
  display: flex;
  flex-direction: column;
}

.completeShiftMenuContainer {
  display: flex;
}

.completeShiftMenuContainer:hover {
  cursor: pointer;
}

.completeShiftMenuIcon {
  color: var(--color-primary);
  font-size: 32px;
}

.completeShiftMenuBadge {
  transform: translate(-5px, -5px);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: var(--color-danger);
}
