.shiftListItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.iconGroup {
  display: flex;
  gap: 7px;
  justify-content: flex-end;
  font-size: 1.1rem;
}

.faIconSuccess {
  color: var(--color-success)
}

.faIcon:hover,
.faIcon:active {
  cursor: pointer;
  animation: wiggle 0.25s ease 1;
}

.incomeReported:hover,
.incomeReported:active {
  cursor: unset;
  animation: unset;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
