.shiftListItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.actions {
  width: 20px;
  text-align: center;
  font-size: 1.35rem;
}

/* .faIcon:hover,
.faIcon:active {
  cursor: pointer;
  animation: wiggle 0.25s ease 1;
} */

/* @keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
} */
