.nav {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: var(--color-primary);
}

.btnContainer {
    display: flex;
    padding: 15px;
    gap: 15px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}