.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid var(--color-light-primary);
  border-radius: 8px;
  text-align: left;
  background-color: var(--color-primary-trans);
  color: var(--color-light-grey-alt);
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-light-grey);
  padding: 8px;
}

.cardTitle {
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardContent {
  padding: 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cardContentItem {
  display: flex;
  gap: 10px;
}

.vacantTitle {
  text-align: center;
  font-size: 1rem;
}

.span {
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shiftChevron {
  margin-left: auto;
  transition: transform 0.5s ease;
}

.rotateChevron {
  transform: rotateZ(90deg);
}

.accordianContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 1px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.expandAccordianContainer {
  height: 100px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.iconGroup {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  font-size: 1rem;
}

.faIcon:hover,
.faIcon:active {
  animation: wiggle 0.25s ease 1;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 6px;
}

.cardFooterLink {
  letter-spacing: 0.09rem;
  color: var(--color-light-grey);
  text-decoration: underline;
  font-size: 0.9rem;
}

@media (min-width: 481px) {
  .vacantTitle {
    font-size: 1.3rem;
  }
}
