.shiftList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.shiftListItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
