.btn {
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    height: 40px;
    border: none;
    color: black;
    letter-spacing: 0.1rem;
}

.btn:hover, .btn:active {
    color: var(--color-blue);
    background-color: var(--color-dark-grey);
}