.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 100%;
  max-width: 530px;
  padding: 20px;
  align-self: center;
}

.formLogo {
  width: 40%;
  height: auto;
  align-self: center;
}

.form h2 {
  letter-spacing: 0.13rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
}

label {
  text-align: left;
}

.title {
  letter-spacing: 0.11rem;
  margin: 15px 0px;
}

.sideBySideInputs {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.inputContainer {
  width: 100%;
  margin: 2px;
}

.input {
  width: 100%;
  border: none;
  height: 35px;
  background: var(--color-dark-grey);
  padding: 3px;
  letter-spacing: 0.11rem;
  border-bottom: 1px solid white;
  color-scheme: dark;
  color: var(--color-light-grey);
}

.input:focus-visible {
  outline: 2px solid var(--color-primary);
  border-radius: 4px;
  border: none;
}

.textArea {
  width: 100%;
  border: none;
  background: var(--color-dark-grey);
  padding: 8px;
  letter-spacing: 0.11rem;
  resize: vertical;
  border: 0.5px solid white;
  border-radius: 4px;
  color-scheme: dark;
  color: var(--color-light-grey);
}

textArea:focus-visible {
  outline: 2px solid var(--color-primary);
  border-radius: 4px;
  border: none;
}

.inputError {
  width: 100%;
  margin-top: 3px;
  text-align: right;
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
  height: 11.2px;
  color: var(--color-danger);
}

.option {
  color: red !important;
  font-size: 1rem;
}

.linkContainer {
  text-align: right;
}

.link {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  color: var(--color-light-grey);
  text-decoration: underline;
}

.link:focus-visible {
  outline: 1px solid var(--color-primary);
  border-radius: 4px;
  border: none;
}

.radioGroup {
  display: flex;
  justify-content: space-around;
}

.radio {
  appearance: none;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  border: 1px solid var(--color-dark-grey);
  transition: 0.3s all linear;
  position: relative;
  top: 1.5px;
}

.radioLabel {
  font-size: 1rem;
  letter-spacing: 0.07rem;
  margin-left: 4px;
  color: var(--color-dark-grey)
}

input.radio:checked {
  border: 7px solid var(--color-light-grey)
}

input.radio:checked + label {
  color: var(--color-light-grey);
  font-weight: 400;
}